@import "ModalWindow.css";
@import "gameStyle.css";

.mainButton{
    display: block;
    float: left;
    height: 30px;
    min-width: 50px;
    overflow: hidden;
    background-color: rgb(26, 99, 70);
    color: white;
    text-align: center;
    vertical-align: center;
    padding: 5px;
}

.mainButton:Hover{
    cursor: pointer;
    background-color: rgb(75, 254, 170);
    color: black;
}

.usernameInput{
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
}

#leftBar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    float: left;
    width: 256px;
    height: 100vh;
    background-color: #4bfeaa;
}
#content{
    z-index: 0;
    float: left;
    position: fixed;
    top: 0;
    right: 0;
    padding-left: 256px;
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
}