.card{
    cursor: pointer;
}

#tableCenter{
    cursor: default;
}

text{
    pointer-events: none;
}

.bricheta{
    cursor: pointer;
}

.fire{
    visibility: hidden;
}

rect.focused{
    stroke: #4bfeaa !important;
    stroke-width: 10;
    stroke-linecap: round;
}